.logo {
  max-width: 200px;
  border:1px solid #ccc;
}

.add-website-link a:before {
  font-family: 'Material Icons';
  content: "add_circle_outline";
  -webkit-font-feature-settings: 'liga';
  position:relative;
  top:2px;
  right:4px;
}
